<input type="text" ng-model="search" placeholder="Search news...">

<a href="#/feeds">Back to Index</a>

<h1><a ng-href="{{ feed.link }}">{{ feed.title }}</a></h1>

<div class="panel panel-default" ng-repeat="item in feed.items | filter:search">
  <div class="panel-heading">
    <h2>
      <a class="clearfix" ng-href="{{ item.guid }}">{{ item.title }}</a>
      <small>
        <span ng-if="item.dc.creator">{{ item.dc.creator }},</span>
        published on {{ item.pubDate }}.
      </small>
    </h2>
  </div>
  <div class="panel-body">
    <div ng-bind-html="item.description"></div>
  </div>
</div>
